{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row"><div class="span4 offset4">
<legend>{% trans "Password reset" %}</legend>

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form class="form-search" action="" method="post">{% csrf_token %}
<div class="input-append">
<input type="text" maxlength="254" placeholder="Email Address" name="email" class="span2 search-query"><button type="submit" class="btn">Reset my password</button>
</div>
<span class="help-block">{{ form.email.errors }}</span>
</form>
</div></div>
{% endblock %}
