{%extends 'base.html'%}

{%block breadcrumbs%}
{%if staff%}
<form id="form" method="POST" action="{%url 'manageposition'%}?next={{request.get_full_path|urlencode}}">{%csrf_token%}
 <input type="hidden" name="publication" value="{{position.publication.id}}">
 <input type="hidden" id="id" name="id" value="{{position.id}}">
 <input type="hidden" id="action" name="action" value="toggle">
</form>
<form method="POST" action="{%url 'manageposition'%}?next={{request.get_full_path|urlencode}}">{%csrf_token%}
 <input type="hidden" name="publication" value="{{position.publication.id}}">
 <input type="hidden" name="id" value="{{position.id}}">
{%endif%}
<!-- <ul class="breadcrumb">
 <li><a href="{%url 'applications'%}">Media</a></li>
 <li><a href="{%url 'publication' position.publication.slug%}">{{position.publication}}</a></li>
 <li class="active">
  {%if staff%}
  <span class="btn-group">
   <button title="{%if position.active%}deactivate{%else%}activate{%endif%}" type="button" class="btn" onclick="editPos('toggle')"><i class="icon-eye-{%if position.active%}close{%else%}open{%endif%}"></i></button>
   <button title="edit position" type="button" id="buttonedit" class="btn" onclick="showEdit(true)"><i class="icon-edit"></i></button>
   <button title="stop editing position (doesn't save)" type="button" id="buttonpost" style="display:none;" class="btn" onclick="showEdit(false)"><i class="icon-remove"></i></button>
   {%if publication.deletable%}
   <button title="delete position" type="button" class="btn" onclick="editPos('delete')"><i class="icon-trash"></i></button>
   {%endif%}
  </span>
  {%endif%}
  {%if position.active%}{{position.title}}
  {%else%}<span class="text-error" title="This position is inactive.">{{position.title}}</span>
  {%endif%}
  {%if staff%}
  <input type="hidden" name="title" value="{{position.title}}">
    {%endif%}
 </li>
</ul> -->
{%endblock%}
{%block content%}
<h1 class="section-header">{{position}}</h1>
<h2 class="section-paragraph">Position Overview</h2>
<p {%if staff%}id="postdesc" {%endif%}style="white-space:pre-wrap;">{%autoescape off%}{{position.description}}{%endautoescape%}</p>
{%if staff%}
<textarea placeholder="This is a description of the position." class="input-block-level" id="editdesc" name="description" style="display:none;" rows="8">{%autoescape off%}{{position.description}}{%endautoescape%}</textarea>
<button type="submit" id="editsave" style="display:none;" class="btn btn-block"><i class="icon-save"></i></button>
</form>
<div class="text-center">
 <legend>Create New Application</legend>
 <form class="form-search">
  <input type="hidden" name="pos" value="{{position.id}}">
  <div class="input-append">
   {{newapp.quarter}}
   {{newapp.year}}
   <button type="submit" class="btn"><i class="icon-arrow-right"></i></button>
  </div>
 </form>
</div>
{%endif%}
{%if applications%}
<div class="row-fluid">
 {%include 'applist.html' with list_title='Open Applications' applications=apps.0%}
 {%include 'applist.html' with list_title='Closed Applications' applications=apps.1%}
</div>
{%else%}
{%include 'blank.html'%}
{%endif%}
{%endblock%}
{%block script%}
{%if staff%}
function showEdit(toggle) {
	var edit='none';
	var post='none';
	if(toggle)
		edit='';
	else
		post='';
	document.getElementById('editdesc').style.display=edit;
	document.getElementById('editsave').style.display=edit;
	document.getElementById('postdesc').style.display=post;
	document.getElementById('buttonedit').style.display=post;
	document.getElementById('buttonpost').style.display=edit;
}
function editPos(action) {
	if(confirm('Are you sure you want to '+action+' this position?')) {
		document.getElementById('action').value=action;
		document.getElementById('form').submit();
	}
}
{%endif%}
{%endblock%}
